* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* common */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sns {
  background: #f8f8f8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.sns a {
  border: 5px solid #fff;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  line-height: 70px;
  background: #fff;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  font-size: 24px;
  overflow: hidden;
  position: relative;
}
.sns a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.sns a:hover::before {
  height: 100%;
}
.sns a:nth-child(1)::before {
  background: #3b5999;
}
.sns a:nth-child(2)::before {
  background: #55acee;
}
.sns a:nth-child(3)::before {
  background: #dd4b39;
}
.sns a:nth-child(4)::before {
  background: #0077b5;
}
.sns a:nth-child(5)::before {
  background: #e4405f;
}

.sns a .fa-brands {
  position: relative;
  /* .sns a::before에 absolute넣어서 아이콘이 아래로 들어가기 때문에 z-index말고 relative줘서 앞에 놓아주기 */
  transition: all 0.3s;
}
.sns a:hover .fa-brands {
  color: #fff;
}
.active {
  transform: rotateY(360deg);
}
