h1 + h2 {
  color: #f00;
  color: #fff;
}
/* h1 바로 직후에 오는 h2를 잡으라는 말
첫번째 h2태그만 빨간색 
둘 다 잡으려면 h1, h2{}
*/

h2:nth-child(3) {
  color: plum;
}
/* 동위선택자들이
  모두
  담겨있는
  상태에서의
  순번을
  가리키므로(h1~h2모두합쳐서5개 중에서)
  3번은
  두번째
  h2를
  가리킴 */
h2:nth-of-type(3) {
  color: powderblue;
}
/* type을 지정해줌 속성이 동일한 애들 가운데서의 순번을 가리킴 
h2 중에서 3번째*/

h1 ~ h2 {
  background: crimson;
}
/* h2에 모두 빨간 배경 */
