/* * {
  font-size: 30px;
}

div {
  font-size: 20px;
}
p:nth-child(2) {
  font-size: 2em;
}
p:nth-child(3) {
  font-size: 50px;
}
p:nth-child(4) {
  font-size: 200%; 2em = 200%
}
p:nth-child(5) {
  font-size: 2rem; 60px
} */
:root {
  --main-color: crimson;
}
#box1 {
  width: 200px;
  height: 200px;
  background: var(--main-color);
}
#box2 {
  width: 50vw;
  height: 30vh;
  /* 사이즈에 맞춰서 유동적으로 조절됨
  px은 안됨 */
  background: var(--main-color);
}
