.portfolio {
  .text01 {
    font: {
      size: 20px;
      weight: bold;
      style: italic;
    }
  }
  .text02 {
    text: {
      align: center;
      transform: uppercase;
    }
  }
}
/* 공통으로 들어가는 접두어가 있으면 한번에 쓸 수 있다 */
