@import url("./reset.css");
@import url("./font.css");

body {
  background: #fcf3eb;
}

/* pc */

/* header */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #fe763c;
  z-index: 20;
}
header > .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
  margin: 0 auto;
}
header h1 {
  font-family: RobotoSlab;
}
nav > #gnb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font: bold 20px/1 "NotosansKR";
}
nav a {
  color: #000;
}
nav a:hover {
  color: #fff;
  transition: all 0.2s;
  border-bottom: 5px solid #3fa566;
}
header .menu-toggle-btn {
  display: none;
}
header .menu-toggle-btn {
  float: right;
  width: 20px;
  cursor: pointer;
}
header .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 5px;
}
header .menu-toggle-btn span:nth-child(2) {
  margin: 4px auto;
}
/* figure */
figure {
  position: relative;
  width: 100%;
  max-width: 1300px;
  height: 1000px;
  margin: 0 auto;
  border: 1px solid #f00;
}
#cover_img > img {
  position: absolute;
  scale: 1.2;
  top: 300px;
  left: 150px;
  z-index: 5;
}
#cover_icon > span:first-child {
  position: absolute;
  font-size: 200px;
  color: #f3c2cf;
  top: 155px;
  top: 9.688rem;
  left: 80px;
  left: 5rem;
  animation: star linear 10s infinite;
}
@keyframes star {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#cover_icon > span:nth-child(2) {
  position: absolute;
  font-size: 200px;
  color: #3fa566;
  top: 439px;
  top: 27.375rem;
  left: 300px;
  left: 25rem;
  animation: clover linear 30s infinite;
}
@keyframes clover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#cover_icon > span:nth-child(3) {
  position: absolute;
  font-size: 200px;
  color: #fe763c;
  bottom: 155px;
  bottom: 9.688rem;
  left: 80px;
  left: 5rem;
  z-index: 10;
  animation: circle linear 40s infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#cover > h1 {
  position: absolute;
  font: bold 110px/1.4 "RobotoSlab";
  letter-spacing: 5px;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
}

/* section1 */
section .inner {
  border: 1px solid #f3c2cf;
  width: 100%;
  /*   height: 1000px; */
  max-width: 1300px;
  margin: 0 auto;
}
section .inner h1 {
  font: bold 45px/1 "RobotoSlab";
  margin-left: 80px;
  margin-top: 80px;
}

.wrap {
  position: relative;
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f00;
  width: 90%;
  height: 800px;
  margin: 0 auto;
}
#pic {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid #000;
  background: #3fa566;
  border-radius: 50%;
}
#intro_cont_1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
  border: 1px solid saddlebrown;
}

#about h2 {
  font: bold 35px/1 "Roboto";
  margin-bottom: 40px;
}
#about p:nth-of-type(1) {
  font: normal 20px/1 "NotosansKR";
  margin-bottom: 15px;
}
#about p:nth-of-type(2) {
  font: normal 20px/1 "NotosansKR";
}

#contact h2 {
  font: bold 35px/1 "Roboto";
  margin-bottom: 40px;
}
#contact p:nth-of-type(1) {
  font: normal 20px/1 "Roboto";
  margin-bottom: 15px;
}
#contact p:nth-of-type(2) {
  font: normal 20px/1 "Roboto";
}

#intro_cont_2 {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: block;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  gap: 100px;
}

#character {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#characters h2 {
  font: bold 35px/1 "Roboto";
  margin-bottom: 30px;
}
.character01 p {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border: 2px solid #606060;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-family: "NotosansKR";
  transition: all 0.4s;
}
.character01 p:hover {
  background: #3fa566;
  border: none;
  color: #fff;
  transform: translateY(-10px);
}
.character02 p {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border: 2px solid #606060;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-family: "NotosansKR";
  transition: all 0.4s;
}
.character02 p:hover {
  background: #fe763c;
  border: none;
  color: #fff;
  transform: translateY(-10px);
}
.character03 p {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  border: 2px solid #606060;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-family: "NotosansKR";
  transition: all 0.4s;
}
.character03 p:hover {
  background: #f3c2cf;
  border: none;
  color: #fff;
  transform: translateY(-10px);
}
#like_thing h2 {
  font: bold 35px/1 "Roboto";
  margin-bottom: 40px;
}
#like_thing {
  display: flex;
  flex-direction: column;
}
#like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like01 img,
.like02 img,
.like03 img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

/* section2 */
section .inner02 {
  border: 1px solid #f3c2cf;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
section .inner02 h1 {
  font: bold 35px/1 "RobotoSlab";
  margin-left: 80px;
  margin-top: 80px;
}
.inner02_wrap {
  width: 90%;
  border: 1px solid salmon;
  margin: 0 auto;
}

.hobby1 {
  display: flex;
  flex-direction: row;
}
.hobby1_cont {
}

.hobby1 h2,
.hobby2 h2,
.hobby3 h2 {
  font: bold 40px/1 "NotosansKr";
}
/* === tablet === */
@media screen and (max-width: 1024px) {
  /* header */
  header {
    height: 70px;
  }
  header > .inner {
    width: 90%;
    height: 70px;
  }
  header h1 {
    font-family: RobotoSlab;
    font-size: 30px;
  }
  nav > #gnb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font: bold 18px/1 "NotosansKR";
  }
  nav a {
    color: #000;
  }
  nav a:hover {
    color: #fff;
    border-bottom: 5px solid #3fa566;
    transition: all 0.2s;
  }

  #gnb {
    display: none;
  }
  .trigger {
    display: none;
  }

  /* figure */
  figure {
    width: 100%;
    max-width: 1000px;
    height: 760px;
  }

  #cover_img > img {
    scale: 1;
    top: 240px;
    left: 150px;
  }
  #cover_icon > span:first-child {
    font-size: 135px;
    top: 164px;
    left: 100px;
  }
  #cover_icon > span:nth-child(2) {
    font-size: 135px;
    top: 355px;
    left: 350px;
  }
  #cover_icon > span:nth-child(3) {
    font-size: 135px;
    bottom: 76px;
    left: 50px;
    z-index: 10;
  }
  #cover > h1 {
    position: absolute;
    font: bold 80px/1.4 "RobotoSlab";
    letter-spacing: 5px;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
  }
}

/* === mobile === */
@media screen and (max-width: 767px) {
  /* header */
  header {
    height: 50px;
  }
  header > .inner {
    width: 90%;
    height: 50px;
  }
  header h1 {
    font-family: RobotoSlab;
    font-size: 15px;
  }
  nav > #gnb {
    display: none;
  }

  header .menu-toggle-btn {
    display: block;
  }

  /* figure */
  figure {
    width: 100%;
    height: 1000px;
  }

  #cover_img > img {
    scale: 1;
    top: 20%;
    left: 100px;
  }
  #cover_icon > span:first-child {
    font-size: 135px;
    top: 164px;
    left: 50px;
  }
  #cover_icon > span:nth-child(2) {
    display: none;
  }
  #cover_icon > span:nth-child(3) {
    display: none;
  }
  #cover > h1 {
    position: absolute;
    font: bold 70px/1.4 "RobotoSlab";
    letter-spacing: 5px;
    top: 70%;
    transform: translateY(-50%);
    right: 50px;
  }
}
